node_modules/
dist/
build/
.env
.env.*
!**/.env.example
*.log
coverage/
.DS_Store
Thumbs.db
.npm-cache/

server/uploads/*
!server/uploads/.gitkeep
server/logs/*
!server/logs/.gitkeep

client/dist/
admin/dist/
